
<div class="form">
  <div class="form-window">
    <h1>New Raffle</h1>
    <div class="input-list">
      <%= render 'form', raffle: @raffle %>
    </div>
    <%= link_to 'Back', raffles_path %>
  </div>
</div>
