<div class="center">
  <h1>Welcome to RAFFLE-MANIA</h1>
  <h2>
    This is the home page for
    IIC2513-2017-1
    Project, Group 19
  </h2>
  <%= link_to "Sign up now!", signup_path, class: ""%>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
