<div class="form">
  <div class="form-window">
    <h1>New Prize Category</h1>
    <div class="input-list">
      <%= render 'form', prize_category: @prize_category %>
    </div>
    <%= link_to 'Back', root_path %>
  </div>
</div>
