<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Raffle Mania, <%= @user.name %></h1>
    <p>
      You have successfully signed up to <a href="salty-garden-46479.herokuapp.com">Raffle-Mania</a>,
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
