<h1 class="center">
  Notifications
</h1>
<% if !@notifications.blank? %>
  <% for notification in @notifications %>
    <div class="raffle-info">
      <p>
        <%= notification.content %>
      </p>
      <br>
      <div class="raffle-buttons">
        <%= link_to 'Go to raffle', raffle_path(notification.raffle), class:"normal-button" %>
        by:
        <%= link_to notification.raffle.user.name, user_path(notification.raffle.user), class:"normal-button" %>
      </div>
    </div>
  <% end %>
<% else %>

<% end %>
