<div class="form">
  <div class="form-window">
    <h1>New Raffle Category</h1>
    <div class="input-list">
      <%= render 'form', raffle_category: @raffle_category %>
    </div>
    <%= link_to 'Back', raffle_categories_path %>
  </div>
</div>
