/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* set of color
    #558C89
    #74AFAD
    #D9853B
    #ECECEA
*/

header div{
  margin: 0;
  background-color: #74AFAD;
  color #ffffff;
  font-family: sans-serif, helvetica, arial;
  font-size: 20px;
}


.header a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  color:inherit;
}

.header a:hover, a:active {
  background-color: #558C89;
}

.leftnavbar {
  float: left;
}

.usernavbar {
  float: right;
}

body {
  background-color: #ECECEA;
  color: #000000;
  font-family: sans-serif, helvetica, arial;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
