
$prussian-blue: #0B3C5D;
$sky-blue: #328CC1;
$gold-leaf: #D9B310;
$ivory-black: #1D2731;

header {
  color: black;
  width: 100%;
  background-color: $sky-blue;
  position: fixed;
  top: 0px;
  text-align: center;
  div {
    margin: 11px;
    &.logo {
      float: left;
      background-color: $gold-leaf;
      border: 3px solid $gold-leaf;
      margin: 0px;
      bottom: 0px;
      padding: 10px;
    }
    &.search-bar-header {
      float: left;
    }
    &.user-menu {
      float: right;
      a {
        padding: 10px;
        border-left: 1px solid $ivory-black;
      }
    }
    a {
      text-decoration: none;
      &:hover{
        color: green;
        background-color: transparent;
      }
      &:visited {
        color: pink;
        background-color: transparent;
      }
      &:hover {
        color: red;
        background-color: transparent;
      }
      &:active {
        color: yellow;
        background-color: transparent;
      }
    }
  }
}

input{
  &.search-button{
    top: 8px;
    border: none;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 6px #999;
    &:hover {
      background-color: $prussian-blue;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
  }
}

div.content{
  padding: 20px;
  padding-top: 40px;
}

.center {
  text-align: center;
}

body {
  background-color: $ivory-black;
  color: $gold-leaf;
}
