
$prussian-blue: #0B3C5D;
$sky-blue: #328CC1;
$gold-leaf: #D9B310;
$ivory-black: #1D2731;

header {
  color: black;
  width: 100%;
  background-color: $sky-blue;
  border-bottom: 2px solid $gold-leaf;
  position: fixed;
  top: 0px;
  text-align: center;
  div {
    margin: 11px;
    &.logo {
      float: left;
      background-color: $gold-leaf;
      border: 3px solid $gold-leaf;
      margin: 0px;
      bottom: 0px;
      padding: 10px;
    }
    &.search-bar-header {
      float: left;
    }
    &.user-menu {
      float: right;
      a {
        padding: 10px;
        border-left: 1px solid $ivory-black;
      }
    }
    a {
      text-decoration: none;
      &:visited {
        color: $ivory-black;
        background-color: transparent;
      }
      &:hover {
        color: red;
        background-color: transparent;
      }
      &:active {
        color: $ivory-black;
        background-color: transparent;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: 99%;
  border-top: 3px solid $gold-leaf;
  background-color: $sky-blue;
  padding: 15px;
  small {
    float: left;
    padding-left: 5px;
  }
  div{
    float: right;
    display: flex;
    a {
      float: right;
      text-decoration: none;
      padding-right: 25px;
    }
  }
}

input {
  &.button{
    width: 100%;
    margin-left: 15%;
    top: 8px;
    border: none;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 6px #999;
    &:hover {
      background-color: $prussian-blue;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
  }
  &.search-button{
    top: 8px;
    border: none;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 6px #999;
    &:hover {
      background-color: $prussian-blue;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
  }
}

a.sign-up-button {
  border: 5px solid $sky-blue;
  border-radius: 4px;
  padding: 4px;
  background-color: $sky-blue;
  align-self: center;
}

a.normal-button {
  background-color: LightGray;
  width: 70%;
  padding: 7px;
  margin-bottom: 8px;
  top: 8px;
  border: none;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  &:hover {
    color: $ivory-black;
    text-decoration: none;
    background-color: $prussian-blue;
  }
  &:visited{
    color: $ivory-black;
    text-decoration: none;
  }
  &:active {
    color: $ivory-black;
    text-decoration: none;
    background-color: #3e8e41;;
  }
}

div.content{
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 80px;
  div{
    //border-style: solid;
    margin: 10px;
  }
}

div.raffle-info{
  border: 3px solid $sky-blue;
  border-radius: 4px;
  background-color: $sky-blue;
  color: $ivory-black;
  & > *{
    margin-left: 3%;
  }
  h3 {
    margin-left: 5%;
  }
  div.raffle-buttons {
    display: flex;
    justify-content: flex-end;
    a.normal-button{
      width: auto;
      margin-left: 5px;
    }
  }
}

div #comment-text, #reply-button {
  width: 90%;
  margin-left: 0;
}
div.comment {
  border: 3px solid $sky-blue;
  border-radius: 8px;
  background-color: $sky-blue;
  color: $ivory-black;
  & > *{
    margin-left: 3%;
  }
  div.comment-content {
    margin-left: 3%;
    width: 91%;
    border-left: 3px solid $prussian-blue;
    border-radius: 8px;
    padding: 1%;
    display: block;
    p.comment-content {
      border-left: 3px solid $prussian-blue;
      border-radius: 8px;
      padding: 1%;
    }
  }
  p.date {
    text-align: right;
    margin-right: 4%;
  }
  div {
    display: flex;
    justify-content: flex-end;
    a.normal-button{
      width: auto;
      margin-left: 1%;
    }
  }
  div.answers {
    display: block;
    border: 3px solid $prussian-blue;
    border-radius: 4px;
    padding: 1%;
    margin: 3%;
    margin-top: 1%;
    p.comment-content {
      border-left: 3px solid $prussian-blue;
      border-radius: 8px;
      padding: 1%;
    }
  }
}

div.new-comment {
  border: 3px solid $sky-blue;
  border-radius: 4px;
  background-color: $sky-blue;
  color: $ivory-black;
  & > *{
    margin-left: 3%;
  }
  div.input-list {
    border: none;
    text-align: left;
    div.field{
      li {
        list-style: none;
        textarea {
          width: 100%;
          resize: vertical;
        }
        input {
          width: 100%;
          margin-bottom: 5%;
          display: block;
          &.button {
            width: auto;
            margin-left: 80%;
            margin-right: 3%;
            padding-left: 3%;
            padding-right: 3%;
            top: 8px;
            border: none;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 6px #999;
            &:hover {
              background-color: $prussian-blue;
            }
            &:active {
              background-color: #3e8e41;
              box-shadow: 0 2px #666;
              transform: translateY(2px);
            }
          }
        }
      }
    }
  }
}

div#categories_displayer{
  display: flex;
  justify-content:center;
  div#raffle_categories{
    width: 50%;
  }
  div#prize_categories{
    width: 50%;
  }
  div {
    border: 3px solid $sky-blue;
    background-color: $sky-blue;
    color: $ivory-black;
    border-radius: 8px;
    padding-bottom: 15px;
    align-items: center;
    div.list-of-links ul {
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      li {
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 1px;
        padding-bottom: 1px;
        list-style: none;
        width: 92%;
        background-color: LightGrey;
        border: 3px solid LightGrey;
        border-radius: 4px;
      }
    }
    a.normal-button {
      background-color: LightGray;
      width: 70%;
      padding: 7px;
      margin-bottom: 16px;
      top: 8px;
      border: none;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
      &:hover {
        color: $ivory-black;
        text-decoration: none;
        background-color: $prussian-blue;
      }
      &:visited{
        color: $ivory-black;
        text-decoration: none;
      }
      &:active {
        color: $ivory-black;
        text-decoration: none;
        background-color: #3e8e41;;
      }
    }
  }
}

div.form {
  color: $prussian-blue;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  div.form-window{
    width: 30%;
    border: 3px solid $sky-blue;
    border-radius: 8px;
    background-color: $sky-blue;
    div.answered {
      border: 3px solid $prussian-blue;
      border-radius: 8px;
      text-align: left;
      padding: 2%;
      p.comment-content {
          border-left: 3px solid $prussian-blue;
          border-radius: 8px;
          padding: 2%;
      }
    }
    div.input-list{
      border: none;
      text-align: left;
      div.field{
        li {
          list-style: none;
          textarea {
            width: 100%;
            resize: vertical;
          }
          input {
            width: 100%;
            margin-bottom: 5%;
            &.button {
              width: 70%;
              margin-left: 15%;
              top: 8px;
              border: none;
              text-align: center;
              border-radius: 4px;
              box-shadow: 0 6px #999;
              &:hover {
                background-color: $prussian-blue;
              }
              &:active {
                background-color: #3e8e41;
                box-shadow: 0 2px #666;
                transform: translateY(2px);
              }
            }
          }
        }
      }
      li {
        list-style: none;
        input {
          width: 100%;
          margin-bottom: 5%;
          &.button {
            width: 70%;
            margin-left: 15%;
            top: 8px;
            border: none;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 6px #999;
            &:hover {
              background-color: $prussian-blue;
            }
            &:active {
              background-color: #3e8e41;
              box-shadow: 0 2px #666;
              transform: translateY(2px);
            }
          }
        }
      }
    }
  }
}

.center {
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: $ivory-black;
  color: $gold-leaf;
}

div.profile-content {
  color: $ivory-black;
  margin: 0%;
  display: flex;
  justify-content: flex-start;
  div.user-info {
    border: 3px solid $sky-blue;
    border-radius: 8px;
    background-color: $sky-blue;
    padding: 1%;
    width: 30%;
    margin: 2%;
    height: 70%;
    display: block;
    text-align: center;
    img{
      margin-top: 2%;
      border: 1px solid #000;
    }
    h2, h3{
      text-align: left;
    }
    h4 {
      text-align: right;
    }
  }
  div.user-raffles {
    margin: 2%;
    width: 69%;
    h2 {
      color: $gold-leaf;
      text-align: center;
    }
    div.single-raffle{
      text-align: left;
      border: 3px solid $sky-blue;
      border-radius: 8px;
      background-color: $sky-blue;
      margin-bottom: 1%;
      text-align: right;
      h2{
        text-align: left;
        padding-left: 3%;
        color: $ivory-black;
      }
      div{
        margin-bottom: 2%;
        margin-right: 2%;
      }
    }
  }
}

div.relationships {
  display: flex;
  width: 100%;
  div{
    width: 50%;
    border: 3px solid $sky-blue;
    border-radius: 8px;
    text-align: center;
    background-color: $sky-blue;
    color: $prussian-blue;
  }
  div.followers {
  }
  div.followings {

  }
}
