
$prussian-blue: #0B3C5D;
$sky-blue: #328CC1;
$gold-leaf: #D9B310;
$ivory-black: #1D2731;

header {
  color: black;
  width: 100%;
  background-color: $sky-blue;
  position: fixed;
  top: 0px;
  text-align: center;
  div {
    margin: 11px;
    &.logo {
      float: left;
      background-color: $gold-leaf;
      border: 3px solid $gold-leaf;
      margin: 0px;
      bottom: 0px;
      padding: 10px;
    }
    &.search-bar-header {
      float: left;
    }
    &.user-menu {
      float: right;
      a {
        padding: 10px;
        border-left: 1px solid $ivory-black;
      }
    }
    a {
      text-decoration: none;
      &:hover{
        color: green;
        background-color: transparent;
      }
      &:visited {
        color: pink;
        background-color: transparent;
      }
      &:hover {
        color: red;
        background-color: transparent;
      }
      &:active {
        color: yellow;
        background-color: transparent;
      }
    }
  }
}

footer {
  bottom: 0px;
  border-top: 3px solid $gold-leaf;
  background-color: $sky-blue;
  padding: 15px;
  small {
    padding-left: 5px;
  }
  div{
    float: right;
    display: flex;
    a {
      float: right;
      text-decoration: none;
      padding-right: 25px;
    }
  }
}

input{
  &.search-button{
    top: 8px;
    border: none;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 6px #999;
    &:hover {
      background-color: $prussian-blue;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
  }
}

a.sign-up-button {
  border: 5px solid $sky-blue;
  border-radius: 4px;
  padding: 4px;
  background-color: $sky-blue;
  align-self: center;
}

div.content{
  padding: 20px;
  padding-top: 40px;
  div{
    //border-style: solid;
    margin: 10px;
  }
}

div#categories_displayer{
  display: flex;
  justify-content:center;
  div#raffle_categories{
    width: 30%;
  }
  div#prize_categories{
    width: 30%;
  }
}

div.form {
  color: $prussian-blue;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  div.form-window{
    width: 30%;
    border: 3px solid $sky-blue;
    border-radius: 8px;
    background-color: $sky-blue;
    div.input-list{
      border: none;
      text-align: left;
      li {
        list-style: none;
        input {
          width: 100%;
          margin-bottom: 5%;
          &.button {
            width: 70%;
            margin-left: 15%;
            top: 8px;
            border: none;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 6px #999;
            &:hover {
              background-color: $prussian-blue;
            }
            &:active {
              background-color: #3e8e41;
              box-shadow: 0 2px #666;
              transform: translateY(2px);
            }
          }
        }
      }
    }
  }
}

.center {
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: $ivory-black;
  color: $gold-leaf;
}
