// Place all the styles related to the Prizes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$prussian-blue: #0B3C5D;
$sky-blue: #328CC1;
$gold-leaf: #D9B310;
$ivory-black: #1D2731;

div.prize-full-description {
  border-top: 3px solid $gold-leaf;
  display: flex;
  justify-content: flex-start;
}

div.prize-image {
  padding: 3px;
}

div.prize-description {
  padding: 3px;
}
