<footer class="">
  <small>
    Project application
  </small>
  <div class="">
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Help", help_path %>
  </div>
  </nav>
</footer>
