<header class="">
  <%= link_to "Ruffle-Mania", root_path, id: "logo"%>
  <nav>search bar goes here</nav>
  <nav>
    <ul class="">
      <li><%= link_to "Sign-up", signup_path %></li>
      <li><%= link_to "Sign-in", '#' %></li>
    </ul>
  </nav>
</header>
